.btn{
	.transition(0.2s);
	.fh;
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: @input-height;
	line-height: @input-height;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 300;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: @cl;
	&:hover{
		background: darken(@cl,10%);
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			background: darken(@cl,10%);
		}
	}
}