// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Titillium Web',sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #000;
@c2: #20b700;
@c3: #188a00;
@c4: #505d4d;
@c5: #ced6cc;

@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 17px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// form
@input-size: 16px;
@input-height: 40px;
@input-padding: 15px;
@input-border: #ccc;
@input-bg: #fff;

// layout
@content-width: 1160px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";