body {
	//width: @content-width;
}
#page-header {
	position: relative;
	padding: 46px 0 12px;
	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 12px;
		background: url(../images/bg/02.png) repeat-x top;
	}
	.logo {
		float: left;
		margin: 0 22px 0 0;
		@media @sm, @xs {
			float: none;
			margin: 0;
			text-align: center;
		}
	}
}
#content {
	position: relative;
	margin: 70px 0;
}
#col-left {
	float: left;
	width: 20%;
	margin: 78px 0;
	@media @md {
		width: 25%;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
		margin-top: 0;
	}
}
#col-main {
	float: right;
	width: 74.5%;
	margin: 70px 0;
	@media @md {
		width: 70%;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
		margin-bottom: 40px;
	}
	#content {
		margin: 0;
	}
}
.lead {
	font-size: 23px;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: -0.013em;
	margin: 15px 0 25px;
}
.mod_breadcrumbs {
	ul {
		.rul;
		margin: 20px 0 -40px;
		li {
			display: inline-block;
			font-size: 15px;
			color: @c1;
			margin: 0 10px 0 0;
			&:before{
				color: @c2;
				top: 4px;
			}
			&.home {
				padding-left: 30px;
				&:before{
					content: '\e81c';
					font-size: 20px;
					top: -1px;
				}
			}
			a {
				color: @c1;
			}
		}
	}
}
.mod_menu-main {
	float: left;
	margin: 24px 0 0;
	@media @sm, @xs {
		float: none;
		text-align: center;
	}
	ul {
		.rul;
		li {
			.fh;
			.rli;
			float: left;
			text-transform: uppercase;
			margin: 0 0 0 40px;
			padding: 0 0 41px;
			font-size: 19px;
			line-height: 1.2;
			@media @sm, @xs {
				display: inline-block;
				vertical-align: top;
				float: none;
				padding: 0 0 10px;
				margin: 0 10px 20px;
			}
			@media @md {
				margin: 0 0 0 15px;
			}
			&.act {
				font-weight: 500;
				&:before{
					top: 100%;
					left: 0;
					right: 0;
					height: 12px;
					background: @c1;
				}
			}
			a {
				text-decoration: none;
				color: @c1;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-top {
	float: right;
	margin: 13px 0 13px 42px;
	@media @sm, @xs {
		float: left;
	}
	ul {
		.rul;
		li {
			.rli;
			float: left;
			margin: 0 0 0 -8px;
			&.act {
				z-index: 1;
				a {
					color: @c1;
					&:before,&:after{
						content: '';
						position: absolute;
						top: 100%;
						left: 50%;
						margin: 0 0 0 -4px;
						border: 4px solid transparent;
						border-bottom-width: 0;
						border-top-color: @c2;
					}
					&:after{
						.transition(0.2s);
						margin-top: -1px;
						border-top-color: #fff;
					}
				}
			}
			a {
				.transition(0.2s);
				.border-radius(50%);
				position: relative;
				display: block;
				width: 45px;
				height: 45px;
				line-height: 43px;
				font-size: 15px;
				text-decoration: none;
				text-align: center;
				text-transform: uppercase;
				background: #fff;
				border: 1px solid @c2;
				&:hover{
					color: #fff;
					background: @c2;
					&:after{
						border-top-color: @c2;
					}
				}
				[class^="icon-"] {
					font-size: 20px;
					&:before{
						margin: 0;
					}
				}
			}
		}
	}
}
.mod_search {
	position: relative;
	z-index: 2;
	float: right;
	margin: 13px 0;
	.toggle {
		.border-radius(50%);
		.transition(0.2s);
		display: block;
		width: 45px;
		height: 45px;
		line-height: 43px;
		font-size: 22px;
		text-align: center;
		color: #fff;
		background: @c2;
		border: 1px solid @c2;
		cursor: pointer;
		&:hover{
			color: @c2;
			background: #fff;
		}
		&:before{
			.fi;
			content: '\e808';
			.mod_search-on & {
				content: '\e818';
			}
		}
	}
	form {
		.clearfix;
		.box-shadow(0 0 12px @c5);
		display: none;
		position: absolute;
		bottom: 0;
		right: 104%;
		width: 300px;
		@media @xs {
			width: 200px;
		}
		.mod_search-on & {
			display: block;
		}
	}
	[type="text"], [type="search"] {
		height: 45px;
		float: left;
		width: 200px;
	}
	button {
		height: 45px;
		padding: 0;
		width: 100px;
		@media @xs {
			width: 200px;
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	overflow: hidden;
	border-top: 1px solid #fff;
	.items {
		.item {
			position: relative;
			overflow: hidden;
			display: none;
			&:nth-child(1) {
				display: block;
			}
			@media @lg, @md, @sm {
				&.cycle-slide {
					.content {
						.transition(0.8s);
						left: 100%;
						right: -100%;
						&:before{
							.transition(2.6s);
							top: 300%;
						}
						h2 {
							.transition(1.6s);
							text-indent: 100px;
							&:before{
								.transition(2.6s);
								width: 0;
							}
						}
					}
				}
				&.cycle-slide-active {
					.content {
						left: 40.6%;
						right: 0;
						&:before{
							top: -70px;
						}
						h2 {
							text-indent: 0;
							&:before{
								width: 100%;
							}
						}
					}
				}
			}
			figure {
				img {
					display: block;
					width: 100%!important;
					height: auto!important;
				}
			}
			@media @lg, @md, @sm {
				.content {
					position: absolute;
					bottom: 30.5%;
					right: 0;
					left: 40.6%;
					text-align: left;
					color: #fff;
					background: @c2;
					@media @md, @sm {
						bottom: 25%;
					}
					&:before{
						content: '';
						position: absolute;
						top: -70px;
						left: -1px;
						width: 1px;
						height: 999em;
						background: #fff;
					}
					&:after{
						content: '';
						position: absolute;
						right: 0;
						top: 0;
						border-left: 70px solid transparent;
						border-top: 70px solid #fff;
					}
					h2 {
						position: relative;
						display: inline-block;
						vertical-align: top;
						font-weight: 300;
						font-size: 44px;
						margin: 0 0 10px;
						padding: 25px 75px 25px 70px;
						@media @md {
							font-size: 36px;
							padding: 20px 60px 20px 50px;
						}
						@media @sm {
							font-size: 30px;
							padding: 10px 60px 10px 30px;
						}
						&:before{
							content: '';
							position: absolute;
							bottom: 100%;
							left: 0;
							width: 100%;
							bottom: 100%;
							height: 20px;
							background: #000;
						}
					} 
				}
			}
			@media @xs {
				.content {
					h2 {
						font-size: 18px;
						padding: 15px 20px;
						margin: 0;
						color: #fff;
						background: @c2;
					}
				}
			}
		}
	}
	.pager {
		position: absolute;
		z-index: 101;
		bottom: 29px;
		right: 55px;
		@media @xs {
			bottom: auto;
			top: 20px;
			right: 20px;
		}
		span {
			position: relative;
			float: left;
			width: 40px;
			height: 40px;
			border: 1px solid #fff;
			margin: 0 0 0 13px;
			text-indent: -9999px;
			cursor: pointer;
			&:hover{
				&:before{
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
			}
			&:before{
				.transition(0.2s);
				content: '';
				position: absolute;
				top: 9px;
				left: 9px;
				right: 9px;
				bottom: 9px;
				background: @c2;
				&:hover{
					background: @c3;
				}
			}
			&.cycle-pager-active {
				&:before{
					background: @c1;
				}
			}
		}
	}
}
.mod_custom-category {
	position: relative;
	z-index: 101;
	.mod-title {
		.fh;
		position: absolute;
		bottom: 100%;
		left: 20px;
		line-height: 1.1;
		font-size: 30px;
		font-weight: 300;
		margin: 0 0 -6px 0;
		padding: 26px 82px 0 37px;
		background: #fff;
		@media @xs {
			position: static;
			text-align: center;
			padding: 25px 0;
			&:after{
				display: none;
			}
		}
		&:after{
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			border-left: 53px solid transparent;
			border-top: 53px solid @c2;
		}
	}
	.items {
		text-align: center;
		padding: 50px 0 30px;
		.item {
			display: inline-block;
			vertical-align: bottom;
			width: 20%;
			max-width: 300px;
			padding: 0 30px;
			margin: 0 -2px 50px;
			@media @lg {
				&:nth-child(5n+1) {
					figure {
						&:before{
							display: none;
						}
					}
				}
			}
			@media @md {
				&:nth-child(3n+1) {
					figure {
						&:before{
							display: none;
						}
					}
				}
			}
			@media @md {
				width: 33.3333%;
			}
			@media @sm {
				width: 50%;
				&:nth-child(2n+1) {
					figure {
						&:before{
							display: none;
						}
					}
				}
			}
			@media @xs {
				width: auto;
				display: block;
				margin: 0 0 50px;
				padding: 0 20px;
				figure {
					&:before{
						display: none;
					}
				}
			}
			h2 {
				font-size: 22px;
				line-height: 26px;
				text-transform: uppercase;
				margin: 0 0 15px;
			}
			figure {
				position: relative;
				margin: 0 0 33px;
				&:before{
					content: '';
					position: absolute;
					left: -30px;
					top: 14px;
					bottom: 14px;
					width: 1px;
					background: #b7b7b7;
				}
				img {
					display: block;
					margin: auto;
				}
			}
			nav {
				a {
					.btn;
					position: relative;
					white-space: normal;
					line-height: 1.2;
					height: auto;
					padding: 16px 10px 15px;
					&:hover{
						&:before{
							background: darken(@c2,10%);
						}
					}
					&:before{
						.fi;
						.transition(0.2s);
						.border-radius(50%);
						content: '\e80a';
						position: absolute;
						left: 50%;
						top: -16px;
						height: 32px;
						line-height: 32px;
						font-weight: normal;
						width: 40px;
						margin: 0 0 0 -20px;
						background: @c2;
					}
				}
			}
		}
	}
}
.mod_custom-catalogue {
	position: relative;
	padding: 35px 0;
	color: #fff;
	background: @c2;
	@media @sm  {
		padding-bottom: 60px;
	}
	a {
		color: #fff;
	}
	.mod-title {
		.fh;
		font-weight: 300;
		display: inline-block;
		vertical-align: middle;
		margin: 0 -4px 2px 0;
		width: 59%;
		font-size: 36px;
		@media @md {
			font-size: 28px;
		}
		@media @sm, @xs {
			display: block;
			margin: 0 0 35px;
			width: auto;
		}
		@media @xs {
			font-size: 28px;
			text-align: center;
		}
	}
	nav {
		display: inline-block;
		vertical-align: middle;
		width: 41%;
		margin: 0 -4px 0 0;
		padding: 0 0 0 20px;
		@media @sm, @xs {
			display: block;
			width: auto;
			margin: 0;
			padding: 0;
			text-align: center;
		}
		a {
			.fh;
			.transition(0.2s);
			position: relative;
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 20px;
			line-height: 1.1;
			padding: 22px 200px 22px 59px;
			background: @c3;
			@media @sm  {
				display: inline-block;
			}
			@media @xs {
				padding: 22px 60px;
			}
			&:hover{
				background: darken(@c3,10%);
			}
			&:before{
				.fi;
				content: '\e80d';
				position: absolute;
				left: 30px;
				top: 50%;
				margin: -11px 0 0;
				font-size: 22px;
				line-height: 1;
			}
			img {
				position: absolute;
				bottom: -25px;
				right: 9px;
				display: block;
				@media @sm {
					bottom: -55px;
				}
				@media @xs {
					display: none;
				}
			}
		}
	}
}
#col-bottom {
	position: relative;
	padding: 12px 0 0;
	background: @c5;
	overflow: hidden;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 12px;
		background: url(../images/bg/02.png) repeat-x top;
	}
	.container {
		position: static;
	}
}
.mod_custom-contact {
	position: relative;
	float: left;
	width: 66.666%;
	padding: 40px 0;
	@media @sm, @xs {
		float: none;
		width: auto;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 1000em;
		background: url(../images/bg/01.jpg) repeat-x right;
		-webkit-background-size: auto 100%;
		-moz-background-size: auto 100%;
		background-size: auto 100%;
		@media @sm, @xs {
			right: 50%;
			margin: 0 -500em 0 0;
			background-position: center;
		}
	}
	figure {
		position: relative;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: 50%;
		padding: 0 15px 0 0;
		margin: 0 -4px 0 0;
		@media @xs {
			width: auto;
			display: block;
			margin: 0 0 20px;
			padding: 0 20%;
		}
		img {
			.border-radius(50%);
			display: block;
			margin: auto;
		}
	}
	.content {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding: 10px 20px 0 8px;
		margin: 0 -4px 0 0;
		@media @xs {
			display: block;
			width: auto;
			padding: 0;
			margin: 0;
			text-align: center;
		}
		.mod-title {
			.fh;
			font-size: 26px;
			line-height: 1.2;
			margin: 0 0 23px;
			@media @xs {
				color: #fff;
			}
		}
		address {
			color: #fff;
			font-style: normal;
			margin: 0 0 26px;
			line-height: 1.2;
		}
	}
	table {
		@media @xs {
			width: 100%;
			text-align: left;
		}
		tr {
			th,td {
				position: relative;
				padding: 0 0 3px;
				vertical-align: top;
				text-align: left;
				color: #fff;
				font-size: 16px;
				line-height: 1.1;
				font-weight: normal;
				a {
					color: #fff;
				}
				mark {
					color: #fff;
					font-size: 23px;
					line-height: 1;
					display: inline-block;
					margin: -6px 0 0;
				}
			}
			th {
				padding-left: 37px;
				padding-right: 20px;
				&:before{
					.fi;
					position: absolute;
					left: 0;
					top: -2px;
					font-size: 22px;
					line-height: 1;
					font-weight: normal;
				}
			}
			&.phone {
				th {
					&:before{
						content: '\e80f';
					}
				}
			}
			&.fax {
				th {
					&:before{
						content: '\e810';
					}
				}
			}
			&.email {
				th,td {
					padding-top: 20px;
				}
				th {
					&:before{
						content: '\e811';
						padding-top: 18px;
					}
				}
			}
			&.map {
				th,td {
					font-weight: bold;
					padding-top: 20px;
				}
				th {
					&:before{
						content: '\e812';
						padding-top: 18px;
					}
				}
			}
		}
	}
}
.mod_xnewsletter {
	float: left;
	width: 33.3333%;
	padding: 50px 0 25px 70px;
	@media @sm {
		width: 50%;
		padding-left: 0;
	}
	@media @xs {
		float: none;
		width: auto;
		padding: 30px 0;
	}
	.mod-title {
		.fh;
		font-size: 26px;
		line-height: 1.2;
		margin: 0 0 25px;
	}
	form {
		.clearfix;
		padding: 0 40px 28px 0;
		border-bottom: 1px solid #b7b7b7;
	}
	[type="text"] {
		float: left;
		margin: 0 -40px 0 0;
		border-color: transparent;
	}
	button {
		position: relative;
		float: left;
		width: 40px;
		padding: 0;
		font-size: 0;
		color: @c3;
		left: 40px;
		background: none;
		&:hover{
			color: @c2;
		}
		&:before{
			.fi;
			content: '\e813';
			font-weight: normal;
			font-size: 32px;
		}
	}
}
.mod_custom-request {
	position: relative;
	float: left;
	width: 33.3333%;
	padding: 0 0 0 70px;
	@media @sm {
		width: 50%;
		padding: 55px 0 50px 50px;
	}
	@media @xs {
		float: none;
		width: auto;
		padding: 0 0 30px;
	}
	nav {
		margin: 0 0 25px;
		a {
			.fh;
			.transition(0.2s);
			position: relative;
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 20px;
			line-height: 1.1;
			color: #fff;
			padding: 20px 37px 18px 52px;
			background: @c3;
			&:hover{
				background: darken(@c3,10%);
			}
			&:before{
				.fi;
				content: '\e80d';
				position: absolute;
				left: 23px;
				top: 50%;
				margin: -11px 0 0;
				font-size: 22px;
				line-height: 1;
			}
		}
	}
	ul {
		.rul;
		li {
			padding-left: 20px;
			font-size: 14px;
			line-height: 1.2;
			margin: 0 0 7px;
			text-transform: uppercase;
			&:before{
				color: @c3;
				top: 2px;
				left: 5px;
				font-size: 11px;
			}
			a {
				color: @c1;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-footer {
	float: left;
	padding: 27px 0 0;
	margin: 0 30px 20px 0;
	border-right: 1px solid #fff;
	@media @xs {
		float: none;
		margin: 0 0 20px;
		border: 0;
	}
	ul {
		.rul;
		@media @xs {
			text-align: center;
		}
		li {
			.rli;
			display: inline-block;
			vertical-align: middle;
			line-height: 1.2;
			font-size: 14px;
			margin: 0 18px 0 0;
			@media @xs {
				margin: 0 8px;
			}
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
				[class^="icon-"] {
					.border-radius(50%);
					display: inline-block;
					font-size: 0;
					width: 44px;
					height: 44px;
					text-align: right;
					color: @c1;
					background: #fff;
					&:before{
						margin: 0 4px 0 0;
						font-size: 28px;
						line-height: 44px;
					}
				}
			}
		}
	}
}
.mod_menu-category {
	position: relative;
	z-index: 101;
	background: @c2;
	ul {
		.rul;
		display: table;
		width: 100%;
		@media @xs {
			display: block;
		}
		li {
			.rli;
			position: relative;
			display: table-cell;
			vertical-align: bottom;
			width: 20%;
			@media @xs {
				display: block;
				width: auto;
				margin: 0 -20px;
				border-bottom: 1px solid #fff;
			}
			&:before, &:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 1px;
				background: #fff;
				top: 25px;
				@media @xs {
					display: none;
				}
			}
			&:after{
				left: 100%;
			}
			&.act {
				background: #20b700;
				background: -moz-linear-gradient(left,  #20b700 50%, #6fef00 100%);
				background: -webkit-linear-gradient(left,  #20b700 50%,#6fef00 100%);
				background: linear-gradient(to right,  #20b700 50%,#6fef00 100%);
				a {
					font-weight: 600;
					&:before{
						content: '';
						position: absolute;
						bottom: 0;
						right: 0;
						border-top: 30px solid transparent;
						border-right: 30px solid #fff;
					}
					img {
						border: 4px solid #fff;
						bottom: -31px;
						left: 12px;
						@media @xs {
							bottom: 50%;
							left: 7px;
							margin: 0 0 -31px;
						}
					}
				}
			}
			a {
				.fh;
				display: block;
				color: #fff;
				text-decoration: none;
				font-size: 16px;
				line-height: 1.2;
				font-weight: 300;
				text-transform: uppercase;
				padding: 18px 10px 18px 80px;
				@media @xs {
					padding-top: 30px;
					padding-bottom: 30px;
				}
				&:hover{
					text-decoration: underline;
					img {
						border: 4px solid #fff;
						bottom: -31px;
						left: 12px;
						@media @xs {
							bottom: 50%;
							left: 7px;
							margin: 0 0 -31px;
						}
					}
				}
				img {
					.border-radius(50%);
					position: absolute;
					bottom: -28px;
					left: 15px;
					height: 56px!important;
					width: 56px!important;
					border: 1px solid @c2;
					@media @xs {
						bottom: 50%;
						left: 10px;
						margin: 0 0 -28px;
					}
				}
			}
		}
	}
}
.mod_menu-sidebar {
	&>ul {
		.rul;
		&>li {
			.rli;
			margin: 0 0 30px;
			&.act {
				&>a {
					font-weight: bold;
				}
			}
			&>a {
				.fh;
				display: inline-block;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 28px;
				font-weight: 300;
				line-height: 1.1;
				&:hover{
					text-decoration: underline;
				}
			}
			&>ul {
				.rul;
				margin: 18px 0;
				&>li {
					.rli;
					margin: 0 0 20px;
					@media @sm {
						display: inline-block;
						vertical-align: top;
						width: 50%;
						margin: 0 -4px 0 0;
						padding: 0 40px 0 0;
					}
					&.act {
						&>a {
							font-weight: 500;
						}
					}
					&>a {
						.fh;
						display: inline-block;
						text-decoration: none;
						font-size: 24px;
						font-weight: 300;
						line-height: 1.1;
						&:hover{
							text-decoration: underline;
						}
					}
					ul {
						.rul;
						margin: 19px 0 40px;
						li {
							.rli;
							padding: 0 0 0 27px;
							line-height: 1.1;
							margin: 0 0 16px;
							&:before{
								content: '\e815';
								font-size: 16px;
								top: 1px;
								left: 1px;
								color: @c2;
							}
							&.act {
								&:after{
									content: '';
									position: absolute;
									left: 0;
									top: -1px;
									bottom: -2px;
									width: 4px;
									background: @c2;
								}
								&>a {
									font-weight: bold;
									color: @c2;
								}
							}
							a {
								text-decoration: none;
								color: @c1;
								&:hover{
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
	}
}
.eshop-items {
	.row-items {
		text-align: center;
		.item {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 25%;
			margin: 0 -2px;
			padding: 49px 20px 50px;
			text-align: center;
			@media @lg {
				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
					&:before{
						display: none;
					}
				}
				&:nth-child(4n+1){
					&:after{
						display: none;
					}
				}
			}
			@media @md, @sm {
				width: 33.3333%;
				&:nth-child(1), &:nth-child(2), &:nth-child(3) {
					&:before{
						display: none;
					}
				}
				&:nth-child(3n+1){
					&:after{
						display: none;
					}
				}
			}
			@media @xs {
				width: 100%;
				&:after{
					display: none;
				}
				&:nth-child(1) {
					&:before{
						display: none;
					}
				}
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: -1px;
				right: -1px;
				height: 1px;
				background: #b7b7b7;
			}
			&:after{
				content: '';
				position: absolute;
				top: 53px;
				left: 0;
				bottom: 50px;
				width: 1px;
				background: #b7b7b7;
			}
			a {
				text-decoration: none;
				color: @c1;
			}
			h2 {
				text-transform: uppercase;
				font-size: 24px;
				margin: 0 0 16px;
			}
			.description {
				.fh;
				font-size: 18px;
				line-height: 1.25;
				margin: 0 0 25px;
			}
			figure {
				padding: 0 33px;
				margin: 0 0 32px;
				img {
					border: 1px solid #b7b7b7;
					&:hover{
						border-color: #ddd;
					}
				}
			}
			nav {
				.btn;
				position: relative;
				display: block;
				white-space: normal;
				font-size: 16px;
				line-height: 1.2;
				height: auto;
				padding: 18px 0 15px;
				margin: 0 33px;
				&:hover{
					&:before{
						background: darken(@c2,10%);
					}
				}
				&:before{
					.fi;
					.transition(0.2s);
					.border-radius(50%);
					content: '\e80a';
					position: absolute;
					left: 50%;
					top: -18px;
					height: 36px;
					line-height: 36px;
					font-weight: normal;
					width: 48px;
					font-size: 22px;
					margin: 0 0 0 -24px;
					background: @c2;
				}
			}
		}
	}
}
.detail-image {
	float: left;
	width: 50%;
	padding: 30px 40px 0 0;
	@media @md {
		width: 45%;
	}
	@media @xs {
		float: none;
		width: auto;
		padding: 0;
	}
	h2 {
		text-transform: uppercase;
		font-size: 24px;
	}
	figure {
		margin: 0 0 20px;
		img {
			display: block;
			margin: auto;
			border: 1px solid #b7b7b7;
		}
		a {
			&:hover{
				img {
					border-color: @c2; 
				}
			}
		}
	}
	.thumbnails, .thumbnails-3 {
		.rul;
		.clearfix;
		margin: 20px -10px 30px;
		li {
			.rli;
			float: left;
			width: 25%;
			padding: 0 10px;
			margin: 0 0 20px;
			img {
				display: block;
				margin: auto;
				border: 1px solid #b7b7b7;
			}
			a {
				&:hover{
					img {
						border-color: @c2; 
					}
				}
			}
		}
	}
	.thumbnails-3 {
		li {
			width: 33.3333%;
		}
	}
}
.detail-description	{
	width: 50%;
	float: left;
	padding: 24px 0 0 40px;
	margin: 0 0 20px;
	@media @md  {
		padding-left: 0;
		width: 55%;
	}
	@media @sm {
		padding-left: 0;
	}
	@media @xs {
		width: auto;
		float: none;
		padding: 0;
	}
	.nav {
		overflow: hidden;
		text-align: right;
		a {
			.fh;
			display: inline-block;
			position: relative;
			text-decoration: none;
			font-size: 18px;
			&:hover{
				text-decoration: underline;
			}
			&:before{
				.fi;
				content: '\e816';
				float: right;
				font-size: 22px;
				margin: -1px 1px 0 12px;
			}
			&:after{
				content: '';
				position: absolute;
				bottom: 50%;
				right: 100%;
				width: 999em;
				height: 1px;
				margin: 0 25px 0 0;
				background: #b7b7b7;
				cursor: default;
			}
		}
	}
	.list {
		margin: 0 0 40px;
		ul {
			.rul;
			margin: 0 0 29px;
			li {
				padding:  0 0 0 26px;
				line-height: 1.2;
				margin: 0 0 14px;
				&:before{
					content: '\e813';
					color: @c2;
					top: 2px;
					font-size: 17px;
				}
			}
		}
		nav {
			.nav;
		}
	}
	.certificate {
		margin: 0 0 23px;
		h2 {
			text-transform: uppercase;
			font-size: 24px;
			margin: 0 0 35px;
		}
		ul {
			.rul;
			li {
				.rli;
				line-height: 1.2;
				font-size: 14px;
				font-style: italic;
				padding: 0 0 0 55px;
				margin: 0 0 33px;
				img {
					position: absolute;
					top: -21px;
					left: -5px;
					max-width: 55px;
				}
			}
		}
		nav {
			.nav;
		}
	}
	.links {
		ul {
			.rul;
			li {
				.rli;
				margin: 20px 0 30px;
				&.highlight {
					margin-top: 55px;
					a {
						.transition(0.2s);
						display: block;
						color: #fff;
						font-weight: bold;
						padding: 20px 30px 23px 32px;
						background: @c2;
						&:hover{
							text-decoration: none;
							background: darken(@c2,10%);
						}
						&:before{
							right: 20px;
							top: 50%;
							margin: -10px 0 0;
						}
					}
				}
				a {
					.fh;
					position: relative;
					display: inline-block;
					text-transform: uppercase;
					padding: 0 28px 0 0;
					font-size: 21px;
					line-height: 1.1;
					font-weight: 300;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
					&:before{
						.fi;
						content: '\e80d';
						position: absolute;
						right: 0;
						top: 1px;
						line-height: 1;
					}
					[class^="icon-"] {
						float: left;
						font-size: 27px;
						margin: -4px 15px 0 -4px;
						&:before{
							margin: 0;
						}
					}
				}
			}
		}
	}
	.contact {
		position: relative;
		padding: 27px 32px 32px;
		margin: 0 0 30px;
		background: @c5;
		a {
			color: @c3;
		}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			border-bottom: 48px solid transparent;
			border-right: 48px solid #fff;
		}
		.title {
			.fh;
			font-size: 26px;
			line-height: 1.2;
			font-weight: 300;
			margin: 0 0 20px;
		}
		figure {
			display: inline-block;
			vertical-align: top;
			width: 26%;
			margin: 0 -4px 0 0;
			@media @xs {
				display: block;
				margin: 0;
				width: 50%;
			}
			img {
				border: 1px solid #b7b7b7;
			}
		}
		.content {
			display: inline-block;
			vertical-align: top;
			margin: 0 -4px 0 0;
			padding: 0 0 0 18px;
			width: 74%;
			@media @xs {
				display: block;
				margin: 0;
				width: auto;
				padding: 0;
			}
			.name {
				font-weight: bold;
				font-size: 19px;
				line-height: 1.1;
				margin: 0 0 10px;
			}
			.phone, .email {
				font-size: 15px;
				mark {
					font-size: 24px;
					color: @c3;
					font-style: italic;
				}
			}
		}
	}
}
.panes {
	.tabs {
		.rul;
		.clearfix;
		border-bottom: 1px solid #b7b7b7;
		@media @xs {
			border: 0;
		}
		li {
			.rli;
			.fh;
			font-size: 18px;
			float: left;
			border-bottom: 4px solid transparent;
			@media @xs {
				float: none;
				border: 1px solid #b7b7b7;
			}
			&:hover{
				border-bottom-color: #eee;
			}
			&.cycle-pager-active {
				border-bottom-color:  @c2;
				@media @xs {
					border: 4px solid @c2;
				}
			}
			a {
				display: block;
				padding: 15px 22px 14px;
				color: @c1;
				text-decoration: none;
			}
		}
	}
	.pane {
		padding: 38px 0;
		line-height: 1.75;
		&.cycle-slide {
			position: static!important;
			display: none!important;
			&.cycle-slide-active {
				display: block!important;
			}
		}
	}
}
#page-footer {
	position: relative;
	padding: 0 0 50px;
	background: @c4;
	.copy {
		float: left;
		color: #fff;
		margin: 40px 0;
		font-size: 13px;
		@media @xs {
			float: none;
			margin: 0;
			text-align: center;
		}
	}
	.xart {
		margin: 42px 0;
		float: right;
		font-size: 11px;
		text-transform: uppercase;
		@media @xs {
			float: none;
			margin: 0;
			text-align: center;
		}
		a {
			color: #fff;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			margin: 0 0 0 10px;
			@media @xs {
				float: none;
				display: block;
				margin: 0 auto 5px;
			}
		}
	}
}
.mod_cookies {
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	font-size: 15px;
	background: fade(@c4,80%);
	@media @xs {
		position: static;
	}
	a {
		color: #fff;
	}
	p {
		margin: 5px 0;
	}
	nav {
		position: absolute;
		bottom: 100%;
		right: 20px;
		a {
			.btn;
			background: fade(@c4,80%);
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(50%);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e80e';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}